<!doctype html>
<title>Consumo</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Consumo</h1>
  <div class="text_description">
      <p>
          La tarifa contratada tiene un precio distinto en función de la hora consumo.
          El horario de las tarifas de puede consultar a continuación:
          <a href="https://www.esferaluz.es/blog/energias-renovables/tarifas-luz-2021/">Información tramos horario</a>

          En las siguientes tablas se muestra el precio por kwh junto con los impuestos aplicados
      </p>
  </div>
  <div style="width: 100%;display: table;">

      <div  class="tabla_tarifas">
          <h2>Tarifas vigentes</h2>
          <table>
            <tr><td class="title">Tarifa valle :</td><td>{{ tariff.valley }} €/kwh </td></tr>
            <tr><td class="title">Tarifa plano :</td><td>{{ tariff.flat }}  €/kwh</td></tr>
            <tr><td class="title">Tarifa pico  :</td><td>{{ tariff.peak }}  €/kwh</td></tr>
          </table>
      </div>
      <div  class="tabla_impuestos">
          <h2>Impuestos</h2>
          <table>
              {% for tax in taxes %}
              <tr><td class="title"> {{ tax.name }} </td><td>{{ tax.value }}% </td></tr>
              {% endfor %}
          </table>
      </div>

  </div>
  <div class="text_description">
      <p>
          La siguiente tabla muestra el consumo del mes en curso y de los meses anteriores. Se muestra la siguiente información:
      </p>
      <ul>
          <li>Fecha: Mes en que se produce la medida. El valor del mes en curso se actualiza cada 10 minutos.</li>
          <li>Consumo horario pico: Kwh consumidos en tramo P1.</li>
          <li>Consumo horario plano: Kwh consumidos en tramo P2.</li>
          <li>Consumo horario valle: Kwh consumidos en tramo P3.</li>
          <li>Consumo total: Suma de los kwh pico, plano y valle.</li>
          <li>Importe: Importe final a pagar a mes vencido, impuestos incluidos.</li>
      </ul>
  </div>
  <div>
      <h2>Tabla consumos</h2>
      <table class="tabla_consumos">
          <tr>
                <td class="title"> Fecha </td>
                {% for date in consumption['date'] %}
                <td class="title"> {{ date }} </td>
                {% endfor %}
          </tr>
          <tr>
                <td class="title"> Consumo horario pico [kwh]</td>
                {% for val in consumption.energy_peak %}
                <td> {{ val }} </td>
                {% endfor %}
          </tr>
          <tr>
                <td class="title"> Consumo horario plano [kwh]</td>
                {% for val in consumption.energy_flat %}
                <td> {{ val }} </td>
                {% endfor %}
          </tr>
          <tr>
                <td class="title"> Consumo horario valle [kwh]</td>
                {% for val in consumption.energy_valley %}
                <td> {{ val }} </td>
                {% endfor %}
          </tr>
          <tr>
                <td class="title"> Consumo total [kwh] </td>
                {% for val in consumption.energy_total %}
                <td> {{ val }} </td>
                {% endfor %}
          </tr>
          <tr>
                <td class="title"> Importe </td>
                {% for val in consumption.price_total %}
                <td> {{ val }}€ </td>
                {% endfor %}
          </tr>
      </table>

  </div>
</div>
